.container_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.titleTechs {
    font-weight: 900;
}

.card_content_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.btnCardProject {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.btnCardProject:hover {
    opacity: 0.8;
}

.projects_view_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.projects_view_content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 30px;
	line-height: 75px;
	letter-spacing: -0.04em;
}

.projects_view_content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
  font-size: 20px;
	line-height: 27px;
	color: var(--color-text);
	margin-top: 5px;
  margin-bottom: 10px;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clop: text;
	-webkit-text-fill-color: transparent;
}
