.container {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clop: text;
	-webkit-text-fill-color: transparent;
  font-size: xxx-large;
}

.totalandfilterproject {
  display: flex;
  justify-content: space-evenly;
}

.detailsProjects {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 25px;
}

#btn_developersInvitation {
  font-size: 12px;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 10px;
  box-shadow: var(--mainShadow);
}

#btn_developersInvitation:hover {
  opacity: 0.9;
  box-shadow: none;
}

.detailsProjects p {
  font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
  font-size: 16px;
  font-weight: 600;
	color: white;
	margin: 10px 0px;
}

.hofrows_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.hofrows_content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: var(--color-text);
	margin-top: 1.5rem;
}


@media (min-width: 700px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 50%;
  }
}

.spanRanking {
  font-weight: 900;
}
