.container {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}


@media (min-width: 700px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 60%;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 50%;
  }
}

.spanRanking {
  font-weight: 900;
}
