.titleTechs {
    font-weight: 900;
}

.card_content_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnCardProject {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: var(--mainShadow);
}

.btnCardProject:hover {
    opacity: 0.8;
}