.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
    padding: 0px;
    
       
}

.container-btn img {
    width: 35px;
    height: 35px;

    
}

.btn-page {
    background: #000;
	color: #fff;
	height: 35px;
	border-radius: 2px;
	padding: 0 10px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}