*{
    box-sizing: border-box;
}

.mainCreateProyect{
    box-sizing: border-box;
    max-width: 800px;
    width: 800px;
    margin: auto;
    padding: 40px;
}

.form_create_project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;    
}

.form__title{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.form_option{
    color: grey;
}

.form__input{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form__input:focus{
    border: 3px solid rgb(0, 117, 255);
    outline: none;
    box-shadow: 3px 0 3px rgba(163, 163, 163, 0.4);
}

.form__input-error{
    font-size: 13px;
    padding-left: 10px;
    font-weight: 600;
    padding-top: 2px;
    margin-bottom: 0;
    display: none;
    color: #bb2929;
}

.form__input-error-activo{
    display: block;
}

/* .form__validation-input{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
} */

.form__msn,
.form__group-btn-create{
    grid-column: span 2;
}

.form__msn{
    height: 45px;
    line-height: 45px;
    background-color: #F66060;
    padding: 0 15px;
    margin: 5px 35px;
    border-radius: 3px;
    display: none;
}

.form__msn-activo{
    display: block;
}

.form__msn p{
    margin: 0;
}

.form__group_create_p_create {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 35px;
}

.form__group-btn-create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: rgba(0, 117, 255, 0.671);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 15px;
    box-shadow: var(--mainShadow);
}


.form__msn-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.form__msn-exito-activo{
    display: block;
}

.form__group-incorrecto .form__label{
    color: #bb2929;

}

.form__group-incorrecto .form__input{
    border: 3px solid #bb2929;
}

.form__group-correcto .form__label{
    color: #119200;
}

.form__group-correcto .form__input{
    border: 3px solid #119200;
}

@media screen and (max-width: 800px) {
    .form{
        grid-template-columns: 1fr;
    }

    .form__msn,
    .form__group-btn-create{
    grid-column: 1;
}
.form__btn{
    width: 100%;
}
}


/* EDITADO POR FEDERICO ROMERO */

.form__label {
  color: var(--fontColor);
}

.form__input {
  background-color: var(--primaryColorSub) !important;
  color: var(black) !important;
}

.form__label,
.form__title {
    cursor: default;
}

/* FIN DE EDICION */
@media screen and (max-width: 900px) {
    .mainCreateProyect{
        width: 700px;
        padding: 20px;
    }
  }
  
  @media screen and (max-width: 750px) {
    .mainCreateProyect{
        width: 550px;
        padding: 5px 10px;
    }

  }
  
  @media screen and (max-width: 500px) {
    .mainCreateProyect{
        width: 350px;
        padding: 5px 10px;
    }
    .form__group_create_p_create {
        padding: 0px;
    }
  }