.mainbigcontainer {
  display: flex;
  flex-direction: column;
	padding-top: 70px;
	padding-bottom: 50px;
	justify-content: center;
  align-items: center;
	width: 100%;
}

.container {
  margin: 0;
  border-radius: 16px;
  background-color: var(--primaryColor);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  color: var(--fontColor);
  box-shadow: var(--mainShadow);
}

.maintitle {
  color: var(--fontColor) !important;
  text-align: center;
  margin: 0.5rem;
  cursor: default;
}

.goBack,
.importImage {
  color: var(--fontColor);
  background-color: transparent;
  border: none;
  font-size: var(--fontSubTitle);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.importImage {
  font-size: var(--fontSmall);
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.goBack:hover {
  color: var(--dangerColor);
}

.formGroudName {
  grid-column: 1 / 3;
}

.formTextAreaCreateProject {
  resize: vertical;
  width: 100%;
  min-height: 150px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 5px 10px 0 10px;
  font-weight: 400;
  transition: .1s ease all;
  background-color: var(--primaryColorSub);
  font-family: var(--font-family)
}


.doubleLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createProjectView_content {
	display: flex;
  width: 1000px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.createProjectView_content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 30px;
	line-height: 75px;
	letter-spacing: -0.04em;
}

.createProjectView_content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
  font-size: 20px;
  line-height: 27px;
	color: var(--color-text);
	margin-top: 1.5rem;
  padding-bottom: 50px;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clop: text;
	-webkit-text-fill-color: transparent;
}

.maintechselected {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.maintaskselected {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.techselected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    margin: 2px;
    background-color: #ffffff21;
    border-radius: 4px;
    border-color: black;
}

.deleteTech {
  cursor: pointer;
  text-shadow: 1px 1px 2px #d0d0d0;;
}

.form__label{
  display: flex;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.displayTasks {
    display: flex;
    align-items: center;
}

.form__group_input{
  position: relative,
}

.form__btn_task {
    height: 45px;
    line-height: 45px;
    width: 20%;
    background: rgba(0, 117, 255, 0.671);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    box-shadow: var(--mainShadow);
}

.successEdit {
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 30px 20px;
}

/* === Media queries === */
@media screen and (max-width: 1150px) {
  .createProjectView_content {
      width: 850px;
  }
}

@media screen and (max-width: 900px) {
  .createProjectView_content {
      width: 700px;
  }
  .textDescriptionCodeTool {
      font-size: 18px;
  }
  .createProjectView_content h1 {
      font-size: 35px;
  }
  .createProjectView_content p {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  .createProjectView_content {
    width: 450px;
  }
  .createProjectView_content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .createProjectView_content {
    width: 350px;
  }

  .createProjectView_content h1 {
      font-size: 30px;
  }
}
