.containerOptions {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 50;
  padding: 1rem;
  background: var(--primaryColorLight);
  color: white;
  border-radius: 8px;
  box-shadow: var(--borderInside);
}
.optionDropdown {
  height: 300px;
  max-width: 400px;
  overflow:auto;
}

.showOptions {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: auto;
  animation: show 0.5s;
  animation-fill-mode: both;
  box-sizing: border-box;
  grid-gap: 0.5rem;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.selectOption {
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--fontSmall);
}

.selectOption:hover {
  color: rgba(235, 0, 27, 1);
}

.helperCloseOptions {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  height: 100vh;
  width: 100vw;

  z-index: 19;
}