.containerLink {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 2rem 1fr;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  grid-gap: 1rem;
  cursor: pointer;
}

.label {
  justify-self: flex-start;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  letter-spacing: 4px;
  font-weight: 600;

  text-transform: capitalize;

  transition: 0.5s;
}

.containerLink:hover > svg > .styleSVG,
.isActive > svg > .styleSVG {
  fill: crimson;
}

.containerLink:hover > .label,
.isActive > .label {
  color: crimson;
}

.styleSVG {
  transition: 0.5s;
}

.isActive {
  cursor: default;
}

.verticalLink {
  grid-template-rows: 2rem auto;
  grid-template-columns: 2.5rem 2rem 2.5rem;
  grid-row-gap: 0.5rem;

  margin-bottom: 0;
  margin-top: 0;
}

.verticalLink > svg {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.verticalLink > .label {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  font-size: var(--fontSmall);
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 400px) {
  .verticalLink {
    grid-template-columns: 2rem;
  }

  .verticalLink > svg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .verticalLink > .label {
    display: none;
  }
}