.containerLink {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 2rem 1fr;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  grid-gap: 1rem;
  cursor: pointer;
}

.label {
  justify-self: flex-start;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.5s;
}

.containerLink:hover > svg > .styleSVG,
.isActive > svg > .styleSVG {
  fill: var(--color-subtext);
}

.containerLink:hover > .label,
.isActive > .label {
  color: var(--color-subtext);
}

.styleSVG {
  transition: 0.5s;
}

.isActive {
  cursor: default;
}

.verticalLink {
  grid-template-rows: 2rem auto;
  grid-template-columns: 2.5rem 2rem 2.5rem;
  grid-row-gap: 0.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.verticalLink > .label {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  font-size: var(--fontSmall);
  margin-bottom: 0;
  margin-top: 0;
}

.styleIconRocket {
  width: 100%;
}

@media (max-width: 950px) {
  .verticalLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
  }
  .styleIconRocket {
    width: 40px;
  }
}