.signUpContainer {
  background-color: var(--primaryColor);
  box-shadow: var(--mainShadow);
}

.input {
  background-color: var(--primaryColorSub);
  color: var(--fontColor);
}

.input, select, textarea{
  color: var(--primaryColorLight);
}

.errorMsg {
  color: var(--dangerColor);
}

