.signup{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;  
}

.signup__wrapper {
    width: 30vw;
    height: 75hv;
    margin-top: 70px;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.signup__title{
    color:lightgray;
    position: relative;
}


.signup_option{
    color: grey;
}

.signup__group{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 10px;
}

.signup__group-input{
    position: relative,
}

.signup__input:focus{
    border: 3px solid rgb(0, 117, 255);
    outline: none;
    box-shadow: 3px 0 3px rgba(163, 163, 163, 0.4);
}

.signup__input-error{
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
    display: none;
    color: lightgrey;
}

.signup__input-error-activo{
    display: block;
}

.signup__group-btn-create{
    grid-column: span 2;
}

.signup__msn{
    height: 45px;
    line-height: 45px;
    background-color: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.signup__msn-activo{
    display: block;
}

.signup__msn p{
    margin: 0;
}

.signup__input{
    height: 45px;
    width: 100%;
    padding: 0 40px 0 10px;
    line-height: 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    transition: .3s ease all;
}

.signup__btn{
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .1s ease all;
    color: #fff;
    background: rgba(0, 117, 255, 0.671);
    font-weight: bold;
}

.signup__msn-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}

.signup__msn-exito-activo{
    display: block;
}

.signup__group-incorrecto .signup__label{
    color: #bb2929;

}

.signup__group-incorrecto .signup__input{
    border: 3px solid #bb2929;
}

.signup__group-correcto .signup__label{
    color: #119200;
}

.signup__group-correcto .signup__input{
    border: 3px solid #119200;
}

.signup__text{
    font-size: 12px;
    color: lightgray;
    margin-top: 15px;
    margin-bottom: 40px;
  }

@media (max-width: 768px){
    .signup__wrapper{
        width: 70vw;
    }
}
