.containerAsFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #131313;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  padding: 1rem 6rem 1rem 0;
  z-index: 50;
}

.container {
  display: none;
}

@media (min-width: 950px) {
  .container {
    display: block;
  }

  .containerAsFooter {
    display: none;
  }
}

@media (min-width: 500px) {
  .containerAsFooter {
    padding: 1rem 3rem 1rem 0;
  }
}