// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
1024px - 1366px     iPad Pro
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop
1em = 16px
*/
@mixin respond($breakpoint) {
  // Phone-xs
  @if $breakpoint == phone-xs {
    @media (max-width: 31em) {
      @content;
    } //0 - 500px
  }
  // Phone
  @if $breakpoint == phone {
    @media (max-width: 45em) {
      @content;
    } //0 - 700px
  }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  // iPad Pro
  @if $breakpoint == pad-pro {
    @media (max-width: 71em) {
      @content;
    } //1150px
  }
  // Table Landscape
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
  // Big Desktop
  // @if $breakpoint == big-desktop {
  //   @media (min-width: 112.5em) {
  //     @content;
  //   } //1800px +
  // }
}

#horizon {
    position: sticky;
    width: 100%;
    height: 400px;
    border-radius: 100% 100% 0 0;
    background: #038bff;
    -webkit-filter: blur(30px);
    top: 0;
    left: 50%;
    bottom: -100%;
    margin-top: 100px;
    margin-left: -40%;
  
  &:before {
    content: " ";
    position: sticky;
    width: 81.25%;
    // height: 70%;
    border-radius: 100% 100% 0 0;
    background: #51AFFF;
    -webkit-filter: blur(30px);
    opacity: 0.6;
    margin-left: 9.375%;
  }
    
  &:after {
    content: " ";
    position: sticky;
    width: 32%;
    height: 20%;
    border-radius: 650px / 350px;
    background: #B0DAFF;
    -webkit-filter: blur(30px);
    opacity: 0.5;
    margin-left: 34%;
  }
    
  .glow {
    position: sticky;
    width: 100%;
    height: 100%;
    border-radius: 100% 100% 0 0;
    background: #215496;
    -webkit-filter: blur(200px);
    opacity: 0.7;
    top: -10%;
  }
}

#earth {
  position: sticky;
  width: 100%;
  height: 400px;
  background: black;
  border-radius: 45% 45% 0 0;
  left: 50%;
  bottom: -100%;
  margin-left: -25%;
  margin-top: -350px;
    
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 400px;
    border-radius: 45% 45% 0 0;
    box-shadow: inset 0px 0px 62px 20px rgba(60,105,138,0.85);
  }
    
  &:after {
    // @include filter-gradient(#000000, #000000, horizontal);
    // @include background-image(linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%));
    content: " ";
    position: absolute;
    width: 100%;
    height: 400px;
    border-radius: 45% 45% 0 0;
  }
}
    
   
#footer_link {
  font-family: var(--font-family);
  position: sticky;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 22px;
  text-align: center;
  margin-top: -300px;
  img {
    width: 100px;
  }
  #footer_main_links {
    color: #fff;
    font-family: var(--font-family);
    margin: 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

#subtitle {
  font-weight: 700;
  line-height: 25px;
  font-size: 25px;
  margin-bottom: 40px;
  color: #fff;
  font-family: var(--font-family);
  text-transform: capitalize;
  
  span {
    color: rgb(216, 216, 216);
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
    &:nth-child(1) {
      animation-name: animDont;
    }
    
    &:nth-child(2) {
      animation-name: animLet;
    }
    
    &:nth-child(3) {
      animation-name: animGo;
    }
  }
}

.footer_copyrigth {
  color: white;
  padding: 15px;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 200;
  padding: 5px;
}

.title_footer_leftside {
  font-weight: 600;
}
.footer_leftside {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  align-self: flex-start;
  font-size: 18px;
  gap: 6px;
  h5 {
    cursor: pointer;
    font-weight: 100;
  }
}

@include respond(pad-pro) {
  #footer_main_links {
    margin: 0 10rem;
  }
}