.btnShowSidebarResponsive {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 3.5rem;
  width: 3.5rem;
	color: #fff;
	background: #FF4820;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 12px;
	border-radius: 5px;
	border: 0;
	box-shadow: var(--mainShadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  z-index: 1000;
}

.notShowSidebar {
  display: none;
}

.showSidebar {
  display: block;
}
.iconFilter {
  width: 25px;
}

@media (min-width: 900px) {
  .btnShowSidebarResponsive {
    display: none;
  }
}

@media (min-width: 500px) {
  .btnShowSidebarResponsive {
    bottom: 20px;
    left: 50px;
  }
}