.container {
  align-self: stretch;
  min-height: 100vh;
  min-width: 250px;
  padding: 1.5rem;
  background: var(--gradient-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  box-sizing: border-box;
  box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
  display: none;
}

.containerPagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.showSidebarResponsive {
  display: flex;
  position: fixed;
  min-width: 90vw;
  z-index: 100;
  animation: showContainer 0.5s;
  animation-fill-mode: both;
}

.btnCloseSideBarResponsive {
  height: 30px;
  width: 5%;
  background: rgba(0, 117, 255, 0.671);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
  box-shadow: var(--mainShadow);
  cursor: pointer;
}

.mainBtnCloseSideBarResponsive {
  display: flex;
  width: 95%;
  justify-content: flex-end;
}

.btnCloseSideBarResponsive:hover {
  box-shadow: var(--glowOutside);
}

@media (min-width: 700px) {
  .container {
    display: flex;
  }

  .showSidebarResponsive {
    position: relative;
    min-width: 250px;
    z-index: auto;
  }

  .btnCloseSideBarResponsive {
    display: none;
  }
}

@keyframes showContainer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}