.customPopUpMessage {
    border-radius: 15px !important; 
}

.btnLogin {
    padding: 0.4rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.btnLogin:hover {
    opacity: 0.8;
}