.main_container_features{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 70px 0px;
}

.features {
	width: 1000px;
	display: flex;
	flex-direction: row;
}

.lotties_notebook_astronaut {
	width: 30%;
	margin: 0px 45px 0px 0px;
}

.features_main {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clop: text;
	-webkit-text-fill-color: transparent;
}

.features_heading {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
}

.features_heading h1 {
	font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.features_heading p {
    color: var(--color-subtext);
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}

.features_container {
	flex: 1.5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}



/* === Media queries === */
@media screen and (max-width: 1150px) {
	.features {
		width: 800px;
	}
	.features_heading h1 {
		font-size: 30px;
	}
	.lotties_notebook_astronaut {
		width: 25%;
		margin: 0px 40px 0px 0px;
	}	
	.features_main {
		width: 75%;
	}
}

@media screen and (max-width: 900px) {
	.features {
		width: 750px;
	}
	.lotties_notebook_astronaut {
		width: 30%;
		opacity: 0.3;
		position: absolute;
		left: 150px;
	}
	.features_heading h1 {
		font-size: 25px;
	}
	.features_heading p {
		font-size: 12px;
	}
	.features_main {
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	.features {
		width: 450px;
	}
	.features_heading h1 {
		font-size: 22px;
	}
	.features_main {
		width: 100%;
	}
	.lotties_notebook_astronaut {
		width: 35%;
		top: 1100px;
		opacity: 0.3;
		position: absolute;
		left: 320px;
	}

}

@media screen and (max-width: 500px) {
	.features {
		width: 350px;
	}
	.features_heading h1 {
		font-size: 18px;
	}
	.features_main {
		width: 100%;
	}
	.lotties_notebook_astronaut {
		width: 35%;
		top: 1200px;
		opacity: 0.3;
		position: absolute;
		left: 250px;
	}
}
