.brand {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.brand div {
	flex: 1;
	max-width: 150px;
	min-width: 120px;
	margin: 1rem;
	opacity: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_brands {
	width: 50px;
}