@mixin respond($breakpoint) {
    // Phone-xs
    @if $breakpoint == phone-xs {
      @media (max-width: 31em) {
        @content;
      } //0 - 500px
    }
    // Phone
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {
        @content;
      } //0 - 600px
    }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 58em) {
      @content;
    } //1000px
  }
}


.panel {
    // background-color: #1b1b1b;
    // height: 100vh;
    margin-top: 300px;
}

.Typewriter {
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    padding: 5rem 5rem 0rem 5rem
}

.landingpageContainer {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logolandingpage {
    // padding-bottom: 100px;
    width: 100%;
    padding: 40px;
    z-index: 2;
}

#rocketLandingPage {
    position: absolute;
    left: 20%;
    top: 45%;
    opacity: 0;
    rotate: 20deg;
    animation: rocketanimation 10s linear infinite;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

.night {
	position: relative;
	// top:10%;
	// left:20%;
	background:linear-gradient( to bottom right,rgb(255, 255, 255) 0%,
	rgb(25, 25, 26) 70%);
	box-shadow: 1px 1px 30px rgb(199, 199, 199);
    width:260px;
	height:260px;
	border-radius: 50%;
	z-index:120;
    animation: shadowAnimation 1.5s infinite linear;
    :hover {
        scale: 1.05;
    }
}

.moon {
	position: absolute;
	top:-10%;
	left:65%;
	width:70px;
	height: 70px;
	border-radius: 100%;
	background:rgba(255,241,118 ,1);
	box-shadow: 1px 1px 30px rgba(224,224,224 ,1);
}

.spot1 {
	position: absolute;
	top: 0%;
	left: 85%;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #777;
    box-shadow: 5px 5px 50px rgb(255, 255, 255);
}

.spot2 {
	position: absolute;
	top:10%;
	left:75%;
	width:5px;
	height: 5px;
	border-radius: 100%;
	background-color: #777;
    box-shadow: 5px 5px 50px rgb(255, 255, 255);
}

.night li {
	position: absolute;
	list-style: none;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background-color:#fff;
	transform: rotate(45deg);
}

.night li:nth-child(1) {
    top:30%;
    left:65%;
}

.night li:nth-child(2) {
    top:35%;
    left:53%;
}

.night li:nth-child(3) {
    opacity: 0;
    top:20%;
    left:75%;
    width:2px;
    height: 2px;
    animation: meteor 1.5s infinite linear;
    animation-delay: 0.6s;
}

.night li:nth-child(4) {
    top:5%;
    left:50%;
}

.night li:nth-child(5) {
	opacity: 0;
    top:20%;
    left:55%;
    width:1px;
    height: 15px;
    animation: meteor 1.5s infinite linear;
}

@keyframes rocketanimation {
    0%{
        // display: none;
        scale: 0.5;
        transform: translateY(-100);
        opacity: 1;
    }
    30%{
        scale: 1.0;
        transform: translateY(-1000px) translateX(0px);
        opacity: 0.9;
    }
    100%{
        scale: 1.0;
        transform: translateY(-1000px) translateX(0px);
        opacity: 0.9;
    }
}

@keyframes meteor {
    10% {
        opacity: 1;
    }
    80%	{
        left:10%;
        top:75%;
        opacity: 0;
    }
}

@keyframes shadowAnimation {
    0%{
        box-shadow: 1px 1px 30px rgb(199, 199, 199);
        scale: 0.99;
        opacity: 1;
    }
    30%{
        box-shadow: 1px 1px 30px rgb(199, 199, 199);
        scale: 0.99;
        opacity: 1;
    }
    50%{
        box-shadow: 1px 1px 20px rgb(247, 247, 247);
        scale: 1.0;
        opacity: 0.95;
    }
    60%{
        box-shadow: 1px 1px 30px rgb(199, 199, 199);
        scale: 0.99;
        opacity: 1;
    }
    80%{
        box-shadow: 1px 1px 20px rgb(247, 247, 247);
        scale: 1.0;
        opacity: 0.95;
    }
    100%{
        box-shadow: 1px 1px 30px rgb(199, 199, 199);
        scale: 0.99;
        opacity: 1;
    }
}

@include respond(tab-port) {
    .Typewriter {
        font-size: 30px;
        padding: 5rem 3rem 0rem 3rem;
        text-align: -webkit-center;
    }
    .night {
        width:200px;
        height:200px;
    }
    #rocketLandingPage {
        scale: 0.7;
        left: 10%;
    }
}

@include respond(phone) {
    .Typewriter {
        font-size: 25px;
        padding: 5rem 1rem 0rem 1rem;
        text-align: -webkit-center;
    }
    .night {
        width:170px;
        height:170px;
    }
    #rocketLandingPage {
        scale: 0.5;
        left: 0%;
    }
}

