.header {
	display: flex;
}

.header-content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.header-content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 55px;
	line-height: 75px;
	letter-spacing: -0.04em;
}

.header-content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	color: var(--color-text);
	margin-top: 1.5rem;
}

.header-content__input {
	/* width: 100%; */
	margin: 2rem 0 1rem;

	display: flex;
}

.header-content__input input {
	flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-radius: 5px 0px 0px 5px;
}

.header-content__input button {
  	flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #FF4820;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    border-radius: 5px;
}

.header-content__people {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-top: 2rem;
}

.header-content__people img {
	width: 181.79px;
	height: 38px;
}

.header-content__people p {
	margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.header-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
}

.canvas_box {
	height: 100px;
}

.btn_start {
	width: 250px;
}

/* === Media queries === */
@media screen and (max-width: 1100px) {
	.header {
		flex-direction: column;
	}

	.header-content {
		margin: 0 0 3rem;
	}
}

@media screen and (max-width: 650px) {
	.header h1 {
		font-size: 48px;
		line-height: 60px;
	}

	.header p {
		font-size: 16px;
		line-height: 24px;
	}

	.header-content__people {
		flex-direction: column;
	}

	.header-content__people p {
		margin: 0;
	}

	.header-content__input input,
	.header-content__input button {
		font-size: 16px;
		line-height: 24px;
	}
}

@media screen and (max-width: 490px) {
	.header h1 {
		font-size: 36px;
		line-height: 48px;
	}

	.header p {
		font-size: 14px;
		line-height: 24px;
	}

	.header-content__input input,
	.header-content__input button {
		font-size: 12px;
		line-height: 16px;
	}
}