.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__wrapper {
  width: 430px;
  height: 75hv;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 40px;
}
  
.login__btn-google{
  width: 100%;
  height: 45px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  background-color: rgba(219, 83, 59, 0.825);
  box-shadow: var(--mainShadow);
}

.logoGoogle {
  width: 30px;
  padding: 5px;
}
  
.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
  
.login__title{
  padding-top: 20px;
  color:lightgray;
  position: relative;
}

.login_option{
  color: grey;
}
  
.login__group{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 10px;
}

.login__google{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}
/* login github */
.loginButton{
  width: 55%;
  height: 40px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(150, 150, 150, 0.5);
}

.loginGitHub {
  background-color: black;
  border-color: black;
  color: white;
  width: 100%;
}
.githublogin{
  background-color: black;
}

.icongithublogin{
  width: 20px;
  height: 20px;
}

/* login github */

.login__group-input{
  position: relative,
}

.login__input:focus{
  border: 3px solid rgb(0, 117, 255);
  outline: none;
  box-shadow: var(--mainShadow)
}

.login__input-error{
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
  display: none;
  color: rgb(6, 6, 6);
}
  
.login__input-error-activo{
  display: block;
}

.login__msn{
  height: 45px;
  line-height: 45px;
  background-color: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.login__msn-activo{
  display: block;
}

.login__msn p{
  margin: 0;
}

.login__input{
  height: 45px;
  width: 100%;
  padding: 0 40px 0 10px;
  line-height: 45px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: .3s ease all;
}

.signInDiv {
  box-shadow: var(--mainShadow);
}
  
.login__btn{
  height: 45px;
  width: 100%;
  line-height: 45px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .1s ease all;
  color: #fff;
  background: rgba(0, 117, 255, 0.671);
  font-weight: bold;
  box-shadow: var(--mainShadow);
}

.loginTitle{
  position: absolute;
  top: 150px;
  color:lightgray
}

.login__msn-exito{
  font-size: 14px;
  color: #119200;
  display: none;
}

.login__msn-exito-activo{
  display: block;
}

.login__group-incorrecto .login__label{
  color: #bb2929;
}

.login__group-incorrecto .login__input{
  border: 3px solid #bb2929;
}

.login__group-correcto .login__label{
  color: #119200;
}

.login__group-correcto .login__input{
  border: 3px solid #119200;
}
    
.or{
  height: 30px;
  font-size: 15px;
  width: 40px;
  padding: 10px;
  color: gray;
  font-weight: bold;
  margin: auto;
  align-items: center;
  line-height: 10px;
}
    
.login_lines{
  width: 100%;
  position: relative;
}
  
.login_lines::after, .login_lines::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 1px;
  background: grey;
  width: 45%;
  top: 45%;
}

.login_lines::after{
  left: -10px;
  margin-right: 200px;
}

.login_lines::before{
  right: -10px;
}
    
.login__text{
  font-size: 16px;
  color: lightgray;
  /* margin-top: 15px; */
  /* margin-bottom: 40px; */
}
    
.link{
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 117, 255, 0.671);
}

.loginButton{
  width: 55%;
  height: 45px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: var(--mainShadow);
}

.github{
  background-color: black;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (max-width: 768px){
  .login__wrapper{
    width: 380px;
  }
  .login__group {
    width: 70%;
  }
  .loginButton {
    width: 63%;
  }
}

@media (max-width: 600px){
  .login__wrapper{
    width: 350px;
  }
  .login__group {
    width: 75%;
  }
  .loginButton {
    width: 68%;
  }

}





  
  