.containerProjects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
}

.title {
  color: var(--fontColor);
  font-weight: 900;
}

.containerGrid {
  display: grid;
  grid-template-columns: 300px 870px;
  grid-template-rows: min-content 40px 40px 1fr 40px;

  align-items: flex-start;
  justify-items: center;

  grid-gap: 20px;
}

.filterPanel {
  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

.subHeaderZone {

  width: 100%;

  grid-row: 2 / 3;
  grid-column: 2 / 3;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.paginationBottom {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.producCardsStore {
  margin-right: 9rem;
}

.withoutCardsStore {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  color: white;
}

.exampleCard {
  height: 338px;
  width: 400px;
  margin: 0 10px 0 10px;

  background-color: var(--secondaryColor);
}

.containerTitle {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  justify-self: flex-start;
}

.arrow {
  font-size: var(--fontTitle);
  font-weight: 700;
  color: var(--secondaryColor);
}

.path {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  font-size: var(--fontTitle);
  font-weight: 500;
  color: var(--fontColor);
}

.imageContainer {
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer {
  height: 50%;
  aspect-ratio: 1/1;
}
.loadingContainer > svg {
  animation: rotateLoading 2s infinite;
  animation-timing-function: linear;
  fill: var(--secondaryColor);
}

.projects_view {
	display: flex;
}

.projects_view_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.projects_view_content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 30px;
	line-height: 75px;
	letter-spacing: -0.04em;
}

.projects_view_content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
  font-size: 20px;
	line-height: 27px;
	color: var(--color-text);
	margin-top: 10px;
  margin-bottom: 15px;
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clop: text;
	-webkit-text-fill-color: transparent;
}

.detailsProjects {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 25px;
}

.detailsProjects p {
  font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
  font-size: 16px;
	line-height: 27px;
  font-weight: 600;
	color: white;
	margin-top: 10px;
}
.lottieWithOutProject {
  margin-top: 100px;
  width: 200px;
  animation: rotateNotProject 7s infinite;
}

@keyframes rotateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateNotProject {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(20deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);

  }
}

.spanLoading {
  font-size: var(--fontTitle);
  font-weight: 700;
  color: var(--secondaryColor);
}

@media (max-width: 759px) {
  .containerGrid {
    grid-template-columns: 420px;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .containerTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .filterPanel {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .subHeaderZone {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .pagination {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .producCardsStore {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .paginationBottom {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }
}

@media (min-width: 760px) {
  .containerGrid {
    grid-template-columns: 300px 435px;
    grid-template-rows: min-content 40px 40px 1fr 40px;
  }

  .containerTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .filterPanel {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: inline;
  }

  .subHeaderZone {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .pagination {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .producCardsStore {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  .paginationBottom {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }
}

@media (min-width: 1190px) {
  .containerGrid {
    grid-template-columns: 300px 870px;
  }
}