.navbar {
	position: sticky;
    top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 16rem;
	transition: 0.4s;
	z-index: 2;
}

.navbarSticky {
	position: sticky;
    top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 16rem;
	transition: 0.4s;
	z-index: 2;
	background: var(--color-opacity);
}

.navbar-links {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-links_logo {
	margin-right: 2rem;
}

.navbar-links_logo img {
    width: 60px;
	transition: 0.3s;
}

.navbar-links_container {
	display: flex;
	flex-direction: row;
}

.navbar-links_main_container {
	display: flex;
	justify-content: space-between;
}

.navbar-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;
}

.navbar-sign button,
.navbar-menu_container button {
	padding: 0.5rem 1rem;
	color: #fff;
	background: #FF4820;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	border-radius: 5px;
	border: 0;
	box-shadow: var(--mainShadow);
}

.navbar-menu {
	margin-left: 1rem;
	display: none;
	position: relative;
}

.navbar-menu svg {
	cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.navbar-menu_container p {
	margin: 1rem 0;
}

.navbar-menu_container-links-sign {
	display: none;
}

.imageNavbarLogin {
	width: 40px;
	padding: 0px 5px;
	border-radius: 20px;
}

#btnLogOutNavbar {
	display: none;
}


/* === Media queries === */
@media screen and (max-width: 1100px) {
	.navbar-links_container {
		display: none;
	}	
	.navbar-menu {
		display: flex;
	}
	#btnLogOutNavbar {
		display: block;
	}
}

@media screen and (max-width: 950px) {
	.navbar {
		padding: 2rem 4rem;
	}
	.navbarSticky {
		padding: 2rem 4rem;
	}
}

@media screen and (max-width: 800px) {
	.navbar {
		padding: 2rem;
	}
	.navbarSticky {
		padding: 2rem 4rem;
	}

	.navbar-sign {
		display: none;
	}

	.navbar-menu_container {
		top: 20px;
	}

	.navbar-menu_container-links-sign {
		display: block;
	}
}